{% extends 'template.html.twig' %}

{% block body %}




    <div class="mdl-grid" >



    <div class="mdl-cell mdl-cell--8-col">
        <form>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input type="text" class="light-table-filter mdl-textfield__input" data-table="order-table" placeholder="Filter" id="sample6">
                    <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                </div>
            </div>
        </form>
        <h4>Colis du jour</h4>






        <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp order-table table" style="margin-top:20px">

            <thead>
            <tr>
                <th data-priority="1">Title</th>
                <th data-priority="5" >Date Arrivée</th>
                <th data-priority="2">Destinataire</th>
                <th data-priority="4" >Position</th>
                <th data-priority="3" >Genre</th>
                <th>Etat</th>
                <th>Action</th>


            </tr>
            </thead>
            <tbody>


            {% set i = 0  %}

            {% for courrier in ListeCourrier %}
                {% if courrier.client %}
                {% if courrier.client.arrivee|date("Ymd") == "now"|date("Ymd") %}
                    {% if i < 10 %}
                    {% set i = i + 1 %}



                    <tr>
                    <td>{{ courrier.title }}</td>
                    <td>{{ courrier.client.arrivee|date("d/m/Y") }}</td>

                    <td>{{ courrier.client.nomclient }} {{ courrier.client.prenomclient }}</td>

                    <td>{{ courrier.position }}</td>
                    <td>{{ courrier.genre }}</td>
                    <td>

                        {% if courrier.etat == 1 %}
                            {% if courrier.client.arrivee|date("Ymd") < "now"|date("Ymd") %}
                                <i class="material-icons" id="warning{{ courrier.id }}">warning</i>
                                <div class="mdl-tooltip" for="warning{{ courrier.id }}">
                                    La date de remise est dépassée
                                </div>
                            {% elseif courrier.client.arrivee|date("Ymd") >= "now"|date("Ymd") %}
                                <i class="material-icons" id="waiting{{ courrier.id }}">timer</i>
                                <div class="mdl-tooltip" for="waiting{{ courrier.id }}">
                                    Colis en attente
                                </div>
                            {% endif %}



                        {% elseif courrier.etat == 0 %}
                            <i class="material-icons" id="done{{ courrier.id }}">done</i>
                            <div class="mdl-tooltip" for="done{{ courrier.id }}">
                                Colis délivré
                            </div>

                        {% elseif courrier.etat == 1 %}

                        {% endif %}


                    </td>
                    <td>


                        {% if courrier.etat == 1 %}
                            <a style="color: black;" href="{{ path('modify_courrier',{'id':courrier.id}) }}"><i
                                        class="fa fa-pencil" aria-hidden="true" id="modify{{ courrier.id }}"> </i></a>
                            <div class="mdl-tooltip" for="modify{{ courrier.id }}">
                                Modifier
                            </div>
                            <a style="color: black;" href="{{ path('end_courrier',{'id':courrier.id} ) }}"><i
                                        class="fa fa-check-square-o" aria-hidden="true" id="check{{ courrier.id }}"> </i></a>
                            <div class="mdl-tooltip" for="check{{ courrier.id }}">
                                Valider la remise du courrier
                            </div>
                        {% endif %}
                        <a style="color: black; " href="{{ path('courrier_view',{'id':courrier.id} ) }}"><i
                                    class="fa fa-eye" aria-hidden="true" id="detail{{ courrier.id }}"></i></a>
                        <div class="mdl-tooltip" for="detail{{ courrier.id }}">
                            Afficher les details
                        </div>
                    </td>


                </tr>
                    {% endif %}
                {% endif %}
            {% endif %}


            {% endfor %}


            </tbody>
        </table>
        <a href="{{ path('allcourrier') }}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-top:20px" id="validbutton">
                Voir tous les colis
            </button></a>

        </div><br>

        <div class="mdl-cell mdl-cell--2-col" style="text-align: center">
            <a href="{{ path('add_courrier') }}">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
                        style="width:150px; height:150px; margin-top:60px">

                    NOUVEAU COLIS
                </button>
            </a>

        </div>

        <div class="mdl-cell mdl-cell--2-col" style="text-align: center; ">
            <a href="{{ path('add_message') }}">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
                        style="width:150px; height:150px; margin-top:60px">
                    NOUVEAU MESSAGE
                </button>
            </a>
        </div>
    </div>

        <div class="mdl-grid" style="margin-top:10px;">


            <div class="mdl-cell mdl-cell-6-col" style="margin-top:75px; ">
                {% if is_granted('ROLE_ADMIN') %}

                <h4>Messages</h4>









                <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp order-table table" style="margin-top:20px">
                    <thead>
                    <tr>


                        <th>Message</th>
                        <th>Destinataire</th>
                        <th>Messager</th>
                        <th>Action</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for message in ListeMessage %}
                        {% if message.destinataire == app.user.username %}
                            {% if message.isarchived == 0 %}



                                <tr>



                                    <td style="max-width: 200px;overflow:hidden" id="description_tableau{{ message.id }}" >{{ message.description }}</td>
                                    <div class="mdl-tooltip" for="description_tableau{{ message.id }}">
                                        {{ message.description }}
                                    </div>
                                    <td>{{ message.destinataire.prenom }}</td>
                                    <td>{{ message.messager }}</td>

                                    <td>
                                        <a style="color: black;" href="{{ path('end_message',{'id':message.id} ) }}"><i id="archived{{ message.id }}" class="fa fa-check-square-o" aria-hidden="true"></i></a>
                                        <div class="mdl-tooltip" for="archived{{ message.id }}">
                                            Archiver le message
                                        </div>
                                        <a style="color: black;" href="{{ path('message_view',{'id':message.id} ) }}"><i id="details{{ message.id }}" class="fa fa-eye" aria-hidden="true"></i></a></td>
                                    <div class="mdl-tooltip" for="details{{ message.id }}">
                                        Afficher les details
                                    </div>


                                </tr>

                            {% endif %}
                        {% endif %}
                    {% endfor %}







                    </tbody>
                </table>
                <a href="{{ path('allmessage') }}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-top:20px" id="validbutton">
                        Voir tous les messages
                    </button></a>
            </div>
            {% endif %}
        </div>











    {% endblock %}
