{% extends 'template.html.twig' %}

{% block body %}
    <div class="mdl-grid" >

    <div class="mdl-cell mdl-cell-4-col" >
    <form>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input type="text" class="light-table-filter mdl-textfield__input" data-table="order-table" placeholder="Filter" id="sample6">
                <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
            </div>
        </div>
    </form>

        <button onclick="hideOngoing()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="validbutton">
            Voir archive
        </button>
        <button onclick="hideValid()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="ongoingbutton" style="display: none">
            Voir en cours
        </button>


    </div>


    </div>


<div class="mdl-grid" id="ongoing" >



    <div class="mdl-cell mdl-cell-4-col" >






        <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp order-table table" style="margin-top:20px">

            <thead>
            <tr>
                <th>Message</th>
                <th>Destinataire</th>
                <th>Messager</th>
                <th>Action</th>
                <th>Date</th>



            </tr>
            </thead>
            <tbody>




            {% for message in ListeMessage %}






                    {% if message.destinataire == app.user.username %}
                        {% if message.isarchived == 0 %}



                            <tr>



                                <td>{{ message.description }}</td>
                                <td>{{ message.destinataire.prenom }}</td>
                                <td>{{ message.messager }}</td>

                                <td>
                                    <a style="color: black;" href="{{ path('end_message',{'id':message.id} ) }}"><i id="archived{{ message.id }}" class="fa fa-check-square-o" aria-hidden="true"></i></a>
                                    <div class="mdl-tooltip" for="archived{{ message.id }}">
                                        Archiver le message
                                    </div>
                                    <a style="color: black;" href="{{ path('message_view',{'id':message.id} ) }}"><i id="details{{ message.id }}" class="fa fa-eye" aria-hidden="true"></i></a></td>
                                <div class="mdl-tooltip" for="details{{ message.id }}">
                                    Afficher les details
                                </div>

                                <td>{{ message.dateReception|date("d/m/Y") }}</td>

                            </tr>

                        {% endif %}
                    {% endif %}



            {% endfor %}


            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell-4-col" >
    </div>

</div>

    <div class="mdl-grid" id="valid" style="display: none" >



        <div class="mdl-cell mdl-cell-4-col" >






            <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp order-table table" style="margin-top:20px;">

                <thead>
                <tr>
                    <th>Message</th>
                    <th>Destinataire</th>
                    <th>Messager</th>
                    <th>Action</th>
                    <th>Date</th>


                </tr>
                </thead>
                <tbody>




                {% for message in ListeMessage %}






                    {% if message.destinataire == app.user.username %}
                        {% if message.isarchived == 1 %}



                            <tr>



                                <td>{{ message.description }}</td>
                                <td>{{ message.destinataire.prenom }}</td>
                                <td>{{ message.messager }}</td>

                                <td>


                                    <a style="color: black;" href="{{ path('message_view',{'id':message.id} ) }}"><i id="details{{ message.id }}" class="fa fa-eye" aria-hidden="true"></i></a></td>
                                <div class="mdl-tooltip" for="details{{ message.id }}">
                                    Afficher les details
                                </div>
                                <td>{{ message.dateReception|date("d/m/Y") }}</td>


                            </tr>

                        {% endif %}
                    {% endif %}



                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="mdl-cell mdl-cell-4-col" >
        </div>

    </div>

    <script>
        function hideValid() {
            document.getElementById('valid').style.display='none';
            document.getElementById('ongoingbutton').style.display='none';
            document.getElementById('ongoing').style.display='';
            document.getElementById('validbutton').style.display=''
        }

        function hideOngoing() {
            document.getElementById('ongoing').style.display='none';
            document.getElementById('validbutton').style.display='none';
            document.getElementById('valid').style.display='';
            document.getElementById('ongoingbutton').style.display='';
        }
    </script>


   {% endblock %}
