{% extends 'template.html.twig' %}

{% block body %}

    <style>
        .demo-card-wide.mdl-card {
            width: 98%;
            margin:1%;
        }
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
            background: lightgrey;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
    </style>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ ListeMessage.destinataire }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{ ListeMessage.description }}
        </div>
        <div class="mdl-card__supporting-text">
            Créé le {{ ListeMessage.dateReception|date("d/m/Y") }}
        </div>
        <div class="mdl-card__supporting-text">
            Expéditeur : {{ ListeMessage.expediteur }}
        </div>
        <div class="mdl-card__supporting-text">
           Pris par {{ ListeMessage.messager }}
        </div>

        <div class="mdl-card__supporting-text">
            Contact: {{ ListeMessage.contact }}
        </div>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Modifier
            </a>
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Terminer
            </a>
        </div>


    </div>
{% endblock %}
